%section.introduction

  %h1 Welcome, neighbor! 

  %p
    In order make the most out of Vicini, we need to know a little about you and
    where you live. 

  %p Privacy is important to us. Below is our ethos:

  %ul
    %li Your data is used for only its intended use.
    %li Your data is never bartered or sold.
    %li Your data is never given to advertisers.
    %li Your data may be kept indefinitely.
    %li Data is given to law enforcement only when the legal process is followed.

    %button(ng-click='clap()') Happy Clap
 
= simple_form_for :profile, html: { 'data-ng-submit' => 'submit()' } do |f|
  .actions
    = f.input :first_name 
    = f.input :last_name
    = f.input :address1
    = f.input :address2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.submit t('users.new') 

%form(ng-submit='submit()')
  .actions
    .input
      %label First Name
      %input(ng-model='user.first_name')
    .input
      %label Last Name
      %input(ng-model='user.last_name')
    .input
      %label Address 1
      %input(ng-model='user.address1')
    .input
      %label Address 2
      %input(ng-model='user.address2')
    .input
      %label City
      %input(ng-model='user.city')
    .input
    .input
      %label State
      %input(ng-model='user.state')
    .input
      %label Zip
      %input(ng-model='user.zip')
    .input
      %input{type: 'submit', value: 'Button'}
