!!!
%html
  %head
    %title Vicini
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://login.persona.org/include.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .inner
        %h1
          = link_to('Vicini', root_path)
        %persona(ng-app='persona')
          %div(ng-controller='PersonaCtrl')
            %div.persona-button.dark(ng-click="verify()") 
              %span= t('sign_in')
            %div(ng-show='verified')
              Hello {{email}}
              %button(ng-click='logout()') Log Out
            %div(ng-hide='error')
              %strong {{error}}
    %section.content
      .inner
        = yield
    %footer
