!!!
%html
  %head
    %title Vicini
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'
    = javascript_include_tag 'https://login.persona.org/include.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js'
    = javascript_include_tag '//cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .inner
        %h1= link_to('Vicini', root_path)
        %div#persona.persona
          %div(data-ng-controller='PersonaCtrl')
            %div(data-ng-hide='verified')
              %div.persona-button.dark(ng-click='verify()') 
                %span= t('sign_in')
            %div(data-ng-show='verified')
              Hello, {{ email }}
              %div.persona-button.dark(ng-click='logout()') 
                %span= t('sign_out')
            %div(data-ng-show='error')
              %strong {{error}}

    %section#app.content
      %div#nav
        %a.button(data-ng-controller='directoryNavController' data-ng-click='index()')
          %span.icon-group
        %a.button(data-ng-controller='messageNavController' data-ng-click='new()')
          %span.icon-quote-right
        %a.button(data-ng-controller='addressNavController' data-ng-click='edit()')
          %span.icon-gear
      %div(data-ng-view)
    %footer
